<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donatefoewellbeing">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ongoing_event_bg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ongoing_event_bg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.DonateFoeWellBeing" />

        <activity android:name=".Admin.EditEventActivity" />
        <activity android:name=".Admin.EventDescriptionActivity" />
        <activity android:name=".Admin.AddEventActivity" />
        <activity android:name=".Admin.Main.AdminProfileActivity" />
        <activity android:name=".Admin.Main.RecentEventsActivity" />
        <activity android:name=".Admin.Main.UpcommingEventsActivity" />
        <activity android:name=".Admin.Main.OngoingEventsActivity" />
        <activity android:name=".CommonActivities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin.AdminDashboardActivity" />
        <activity
            android:name=".User.DashboardUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CommonActivities.LoginActivity" />


    </application>

</manifest>